/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Lato:wght@700&display=swap');

.section-subtitle {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  margin-bottom: 40px;
}

.image-container-main {
  margin-bottom: 2rem;
  text-align: center;
}

.image-container-main img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.gallery-images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.item-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



/*  Mobile Styles  */
@media (max-width: 768px) {

  .container-main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 1);
  }


  .container-main-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .logo-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: -30px;
  }

  .title-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    
  }

  .container-main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }

  .link-nav {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    transition: color 0.3s;
  }

  .link-nav:hover {
    color: #374151;
  }


  .content-main {
    position: relative;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
  }

  .image-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(40%);
   
  }

  .overlay-content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    max-width: 90%;
    margin: 0 auto;
  }

  .heading-main {
    font-size: 1.2rem;
    font-weight: bold;
   
    font-family: 'Lato', sans-serif;
  }

  .paragraph-main {
    font-size: 0.9rem;
   
    margin-bottom: 2rem;

  }

  .button-explore {
    background-color: #ffffff;
    color: #000000;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid #ccc;
    transition: background-color 0.3s;
    font-family: 'Karla', sans-serif;
    display: inline-block;
    margin-top: 5rem;
    font-weight: 700;
    margin-top: -40px;
  }

  .button-explore:hover {
    background-color: goldenrod;
  }

  .content-main {
    position: relative;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
  }

  .image-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(40%);
    height: 85%;
  }

  .overlay-content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    max-width: 700px;
    margin: 0 auto;
  }

  .heading-main {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    margin-left: 9px;
  }


  .paragraph-main {
    font-size: 1rem;
    margin-bottom: 3rem;
  }

  .button-explore {
    background-color: #ffffff;
    color: #000000;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    border: 2px solid #ccc;
    transition: background-color 0.3s;
    font-family: 'Karla', sans-serif;
    display: inline-block;
  
    margin-top: -40px;
  }

  .button-explore:hover {
    background-color: goldenrod;
  }

  .section-title {
    transform: translateY(5px);
    margin-top: -2rem;
    font-size: 0.8rem;
    color: #d79e3d;
    font-size: normal;
  }
  .section-subtitle{
    font-weight: 500;
    
  }

  .gallery-images {
    grid-template-columns: 1fr;
    gap: 2rem;
  }


  .gallery-images>.item-image:nth-child(2),
  .gallery-images>.item-image:nth-child(3) {
    grid-column: span 1;
  }

  .gallery-images>.item-image:nth-child(2),
  .gallery-images>.item-image:nth-child(3),
  .gallery-images>.item-image:nth-child(4),
  .gallery-images>.item-image:nth-child(5) {
    grid-column: span 1;
  }

  .gallery-images {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .section-visit {
    background-color: #f4f0e9;
    padding: 1.5rem;
  }

  .title-offer {
    font-size: 0.8rem;
    font-weight: normal;
    color: #d79e3d;
    margin-bottom: 1rem;
    text-align: center;
  }

  .visit-us-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 3rem;
    text-align: center;
  }

  .feature-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .feature-card {
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }

  .feature-card:hover {
    transform: translateY(-10px);
  }


  .menu-card {
    position: relative;
    background-color: #9f7332;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }

  .menu-background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.4);
  }

  .menu-card-content {
    position: relative;
    z-index: 10;
  }

  .menu-title,
.location-title {
  font-size: 0.8rem;
  color: goldenrod;
  margin-bottom: 0.5rem;
  filter: brightness(0.7);
  font-weight: normal;
  font-family: 'Karla', sans-serif;
}


  .menu-subtitle,
  .location-subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .menu-button {
    background-color: white;
    color: black;
   
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    filter: brightness(-70);
    font-size: 800;
    font-weight: 800;
    
  }

  .menu-button:hover {
    background-color: #ddd;
  }

  .location-title {
    margin-bottom: 10px;
  }

  .location-button {
    background-color: #120b05;
    color: white;
    border: 2px solid white;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-right: 20px;
    font-size: bold;
   
  }

  .location-button:hover {
    background-color: #1d120a;
  }



  .testimonial-section {
    background-color: #000000;
    color: white;
    text-align: left;
    min-height: 100vh;
    padding: 15px;
    margin-bottom: -40%;
  }

  .testimonial-title {
    color: #d79e3d;
    font-size: 1.25rem;
    font-weight: normal;
    opacity: 0.7;
    margin-bottom: 20px;
    margin-top: 20%;
  }

  .testimonial-subtitle {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .testimonial-item-image-container {
    position: relative;
    overflow: hidden;
  }

  .testimonial-item-image {
    width: 110%;
    margin-top: -40px;
  
    filter: brightness(0.5);
  }

  .testimonial-text {
    color: #ffffff;
    font-size: 0.7rem;
    font-weight: normal;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-style: normal;
    max-width: 90%;
    z-index: 1;
    margin-bottom: 30pxpx;
  }

  .testimonial-author {
    color: #cc953a;
    font-size: 0.9rem;
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-weight: normal;
    max-width: 90%;
    z-index: 1;
    filter: brightness(1);
    margin-bottom: 1px;
  }

  .testimonial-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .testimonial-item {
    position: relative;
    background-color: black;
    margin-left: -7%;
    margin-right: -7%;
    filter: brightness(-50);
  }

  .testimonial-title {
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 10px;

  }

  .testimonial-subtitle {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .feature-icon {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    width: 60px;
    height: 60px;
  }

  .feature-heading {
    font-size: 1.125rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
  }

  .feature-description {
    color: #666;
    font-size: 1rem;
    line-height: 1.5;
  }

  .feature-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  .about-section {
    padding-top: 50px;
    margin-top: 70px;
    
  }

  .about-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 2%;
  }

  .about-content {
    max-width: 800px;
    text-align: left;
   
  }

  .about-title {
    font-size: 0.5rem;
    color: #9f7332;
    filter: brightness(50%);
    margin-top: 30px;
  }

  .about-subtitle {
    font-size: 1.5rem;
    font-weight: 800;
    color: #000000;
   
   font-size: bold;
   font-size: normal;
   
  }

  .about-text {
    font-size: 0.5rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  .learn-more-button {
    display: inline-block;
    background-color: #120b05;
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .learn-more-button:hover {
    background-color: #8b5d3e;
  }

  .about-section {
    padding: 2rem 1rem;
    margin-bottom: -60px;
  }

  .about-image-container {
    width: 103%;
    height: 105%;
    overflow: hidden;
    margin-left: -7px;
    margin-bottom: 2rem;
  }

  .about-title {
    font-size: 0.8rem;
    margin-top: 30px;
    color: #d79e3d;
    filter: brightness();
    
  }

  .about-subtitle {
    font-weight: 900;
    font-weight: normal;

  }

  .about-text {
    font-size: 0.65rem;
    margin-top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    filter: brightness(40%);
    color: rgba(0, 0, 0, 0.7);
  }

  .learn-more-button {
    padding: 0.5rem 1rem;
    margin-bottom: 100px;
    font-size: 0.8rem;
  }
}

/* Desktop Styles */
@media (min-width: 768px) {
  .container-main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 1);
  }

  .container-main-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .logo-img {
    max-width: 100px;
    height: auto;
  }

  .title-header {
    font-size: 1.7rem;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
  }

  .container-main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    margin-top: 0.5rem;
  }

  .link-nav {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    transition: color 0.3s;
  }

  .link-nav:hover {
    color: #374151;
  }

  .content-main {
    position: relative;
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .image-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(50%);
  }

  .overlay-content {
    position: relative;
    z-index: 1;
    color: white;
    padding: 1.5rem;
    text-align: center;
    border-radius: 8px;
    max-width: 75%;
    margin: 0 auto;
  }

  .heading-main {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.9rem;
    font-family: 'Lato', sans-serif;
  }

  .paragraph-main {
    font-size: 2.1rem;
    margin-bottom: 2.8rem;
  }

  .button-explore {
    background-color: #ffffff;
    color: #000000;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    font-size: 2rem;
    border: 2px solid #ccc;
    transition: background-color 0.3s;
    font-family: 'Karla', sans-serif;
    display: inline-block;
    margin-top: 1rem;
   font-weight: 800;
   font-weight: bold;
   filter: brightness(70);
  }

  .button-explore:hover {
    background-color: goldenrod;
  }

  .gallery-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .gallery-images>.item-image:nth-child(1) {
    flex: 0 0 400px;
    height: 400px;
  }

  .gallery-images>.item-image:nth-child(2) {
    flex: 0 0 100px;
    height: 100px;
  }

  .gallery-images>.item-image:nth-child(3) {
    flex: 0 0 100px;
    height: 100px;
  }

  .gallery-images>.item-image:nth-child(4) {
    flex: 0 0 100px;
    height: 100px;
  }

  .gallery-images>.item-image:nth-child(5) {
    flex: 0 0 100px;
    height: 100px;
  }

  .gallery-images .item-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

.footer-container {
  text-align: center;
  background-color: #000000;
  padding: 20px 0;
}

.footer-container-text {
  color: #ffffff;
  font-size: 0.65rem;
  position: relative;
  margin-top: 160px;
}

.footer-container-text::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  border-top: 0.5px solid whitesmoke;
}

.footer-container-text span {
  display: inline-block;
  margin-top: 50px; 
}

.testimonial-item:nth-child(1) .testimonial-item-image {
  width: 110%; 
  height: auto;
  max-width: 500px;  
}

.testimonial-item:nth-child(2) .testimonial-item-image {
  width: 110%; 
  height: auto;
  max-width: 700px;
}

.testimonial-item:nth-child(3) .testimonial-item-image {
  width: 100%; 
  height: auto;
  max-width: 500px;  
}
